body{
    background-image: url('image/bg.jpg');
    color:darkgray ;
    font-size: 87.5%;
    font-family:sans-serif ;
    line-height: normal;
    text-align: center;
}


.body {
    margin: auto;
    width: 70%;
    clear:both;
    
}

a{
    text-decoration-style:;
    color: dimgrey;
} 

header {
    width : 100%;
    height: 40%;
}


header  nav {
     background-color:white;
    height: 40px;
    width: 100%;
    
    border-radius: 5px;
   -moz- border-radius: 5px;
    -webkit- border-radius: 5px;
    
}

header nav ul {
    list-style: none;
    margin: auto;
    display: inline-block;
    float: left;
    
}


header nav ul li{
   padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
    float: left;
    display: inline-block;
}

header nav a:link, . mainheader nav a: visited {
    color: darkslategrey;
} 

.home {
    background-color: aliceblue;
    border-radius: 15px;
}

.about {
    background-color: azure;
    border-radius: 15px;
}

.gallery {
    background-color: cadetblue;
    border-radius: 15px;
}

.contact {
    background-color: cadetblue;
    border-radius: 15px;
}

h2{
    
    padding: 10px;
    text-align: left;
    text-decoration:underline; 
    text-decoration-style: solid;
    color: black;
}

p1{
    text-align: left;
    color: blue;
}

p{
    color: darkslategrey;
}