/* Customize effects for the components of the page*/
html{
    scroll-behavior:smooth;
}
/* Codes for the logo of the navigation bar */
a.lord-logo{
    float:left;
    font-weight:800;
    font-family:'Raleway',sans-serif;
    text-decoration: none;
    font-size:30px;
    color: white;
    padding:16px 40px 14px 40px;
}
/* Codes for the navbar fixed and its related components*/
div.navbar-fixed{
    width:100%;
    height:65px;

}
nav.nav-wrapper{
    position:absolute;
    width:100%;
    height:65px;
    z-index:4;
}
nav.nav-wrapper ul{
    list-style: none none;
}
nav.nav-wrapper ul li{
    cursor: pointer;
    list-style:none none;
    display:inline-block;
    padding:22px 40px 12px 40px;
    height:30px;
    /*background-color:#000000;*/
    text-decoration: none;
}
/*Applying the hover effect for the navigation items */
nav.nav-wrapper ul li:hover, nav.nav-wrapper ul li:active{
    background-color:#717171;
}
nav.nav-wrapper ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
a.nav-item{
    text-align: center;
}
.right{
    float:right;
}
/* Box shadow for the components of the page*/
.z-depth-2{
    box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
/* Codes for the text alignment in the body of the main page*/
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}.right-align{
     text-align:right;
 }

/* Color codes for the components of the page */
.grey.darken-4{
    background-color:#212121;
}
.grey.darken-3{
    background-color:#424242;
}
.grey.darken-2{
    background-color:#616161;
}
.grey.darken-1{
    background-color:#717171;
}

.grey-text.text-darken-4{
    color:#212121;
}
.grey-text.text-darken-3{
    color:#424242;
}
.grey-text.text-darken-2{
    color:#616161;
}
.grey-text.text-darken-1{
    color:#717171;
}
.white-text{
    color: #ffffff;
}
.black-text{
    color:#000000;
}
.transparent{
    background-color:transparent;
}
/* Default margin and padding */
.header-margin{
    margin:10px;
}.header-padding{
     padding:10px;
 }
/* Codes for the position of the fonts */
i.fa{
    margin:2px;
    padding:2px;
    font-size:18px;
}

/* Codes for the Body of the page*/
main{
    margin-top:700px;
    width:100%;
    height:auto;
}

/* Creating columns and rows of the body of the site*/
.container{
    width:60%;
    height:auto;
}
.container-flex{
    width:90%;
    height:auto;
}
.row{
    width:100%;
    height:auto;
}

/* Creating a divider for the page */
div.divider{
    width:100%;
    height:1px;
    border-top:0 transparent;
    border-bottom:1px solid #e8e8e8;
}

/* Creating responsive image */
.img-flexible{
    width:auto;
    height:auto;
}
/* Simple codes for the buttons */
.btn-simple{
    background-color:#616161;
}
.md{
    height:auto;
    width:15%;
}

/* Codes for the footer  */
footer{
    width:100%;
    height:auto;
    background-color:#424242;
}
footer.footer-content{
    width:100%;
    height:auto;
    line-height:2px;
}
div.footer-pane{
    width:100%;
    height:auto;
}
div.footer-description{
    width:50%;
    height:auto;
    float:left;
}
div.quick-links{
    width:45%;
    height: auto;
}